certifi==2025.8.3
dagshub==0.6.3
dagshub-annotation-converter==0.1.13
fastapi==0.116.2
mlflow==3.4.0
mlflow-skinny==3.4.0
mlflow-tracing==3.4.0
numpy==2.3.3
pandas==2.3.2
pymongo==3.12.0
python-dotenv==1.1.1
PyYAML==6.0.2
scikit-learn==1.7.2
uvicorn==0.36.0
